/src/__pycache__/
/venv/
/build/
/dist/
/Output/
*.spec
.ruff_cache/
/resources/chevron-down.png
/resources/chevron-left.png
/resources/chevron-right-window.png
/resources/chevron-right.png
/resources/close-icon.png
/resources/close-window-icon.png
/resources/copy-icon.png
/resources/default-icon.png
/resources/folder-closed.png
/resources/folder-open.png
/resources/minimize-window-icon.png
/resources/restore-window-icon.png